@import '~react-vis/dist/style.css';

/* html {
  font-family: 'Iosevka', 'Iosevka Web', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */

/* body {
  background: black;
} */